.field{
    border: 4px solid green;
    height: 450px;
}
.bat{
    width: 300px;
}
 .ball{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 25px;
    position: relative;
    left: 338px;
    
} 
.field img{
    
    transform: rotate(0deg);
    transform-origin: top right;
} 
.field:hover .bat{
    transform: rotate(-40deg);
    transition: transform 1s ease-in;
} 
.field:hover .ball{
    transform: translate(500px);
    transition: transform 2s 1s;
}